@import "vars"
@import "fonts"
@import "libs"

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto
  &.img-width
    width: 100%

a
  transition: 0.3s
  &:hover
    text-decoration: none

.text-center
  text-align: center

b, strong
  font-weight: bold

.db-blue
  background-color: #2D5991 !important
  a
    color: #DDB537
    &:hover
      color: #DD7D37
  &.content-menu
    li
      border-bottom: 1px solid #DDB537
      &:first-child
        border-top: 1px solid #DDB537
      span
        background-color: #232f5d
        color: #DDB537

  .breadcrumb-item
    & + .breadcrumb-item::before, &.active
      color: #dfc893

.db-red
  background-color: #5a1016 !important
  a
    color: #fff
    &:hover
      color: #296462
  &.content-menu
    li
      border-bottom: 1px solid #fff
      &:first-child
        border-top: 1px solid #fff
      span
        background-color: #771118
        color: #fff
  .breadcrumb-item
    & + .breadcrumb-item::before, &.active
      color: #BBE660

.navbar
  box-shadow: 0 7px 7px rgba(0, 0, 0, .16)
  height: 66px
  .breadcrumb
    margin: 0
    background-color: transparent
  .navbar-brand
    color: #fff

.navbar-left
  flex-basis: 15%
  max-width: 15%
  display: flex
  align-items: flex-end

.navbar-login
  justify-content: space-between

.change-link
  font-size: 0.9rem
  line-height: 1.8
  padding-top: .3125rem
  padding-bottom: .3125rem

.content-menu
  height: calc(100vh - 66px)
  padding: 20px 0
  flex-basis: 15%
  max-width: 15%
  ul
    list-style: none
    padding: 0
  li
    font-size: 20px
    a, span
      display: block
      padding: 10px 30px

.content-center
  flex-basis: 85%
  max-width: 85%
  padding: 0 15px
  height: calc(100vh - 66px)
  overflow-y: auto

.content-header
  display: flex
  width: 100%
  justify-content: space-between
  padding: 10px

.table
  td, th
    line-height: 38px
    padding: 0.25rem 0.75rem
  th:first-child
    width: 80px

.choose-project
  padding: 20px 20px 60px
  display: flex
  width: 100%
  height: calc(100vh - 66px)
  justify-content: center
  align-items: center
  .list-group
    width: 700px

.list-group-item
  display: flex
  justify-content: space-between
  align-items: center

.authorization-wrapper
  max-width: 600px
  flex-basis: 600px
  a
    max-width: 300px
    margin: 0 auto 20px

.project-form
  max-width: 600px
  flex-basis: 600px

@keyframes status-loading
  0%
    transform: rotate(0)
  100%
    transform: rotate(360deg)

.status-change
  display: none
  &+label
    display: block
    height: 30px
    border-radius: 15px
    line-height: 30px
    width: 56px
    background-color: #ccc
    margin: 5px 0 0
    position: relative
    cursor: pointer
    &:before
      position: absolute
      text-align: center
      vertical-align: middle
      font-family: "Font Awesome 5 Free"
      font-weight: bold
      content: '\f05e'
      transition: 0.3s
      height: 26px
      line-height: 26px
      width: 26px
      color: #fff
      left: 2px
      top: 2px
      border-radius: 50%
      background-color: lightcoral
  &:checked+label:before
    content: '\f00c'
    left: 28px
    background-color: lightgreen
  &:disabled+label
    pointer-events: none
    filter: unquote("grayscale(100%)")
    &.ajax
      cursor: wait
      filter: none
      &:before
        color: #777
        content: '\f110'
        animation: 0.8s status-loading infinite linear

.rule-sortable-handle
  cursor: move

.content-filter
  padding-bottom: 20px
  .select2-container--default .select2-selection--single .select2-selection__rendered
    line-height: 36px
  .select2-container .select2-selection--single
    height: 38px
  .select2-container--default .select2-selection--single .select2-selection__arrow
    height: 36px
  .form-row-hidden
    display: none
    padding-top: 10px

.pagination
  display: inline-flex

.pagination-row
  display: flex
  justify-content: space-between

.select-pagination
  float: right

    
    

@import "media"
// Always at the end
